<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Gallego Cano</title>

	<link rel="stylesheet" href="../../../../../lib/pkp/styles/common.css" type="text/css" />
	<link rel="stylesheet" href="../../../../../styles/common.css" type="text/css" />
	<link rel="stylesheet" href="../../../../../styles/articleView.css" type="text/css" />

			<link rel="stylesheet" href="../../../../../plugins/themes/classicBlue/classicBlue.css" type="text/css" />
	
	<script type="text/javascript" src="../../../../../lib/pkp/js/general.js"></script>
	
	<!-- Add javascript required for font sizer -->
	<script type="text/javascript" src="../../../../../lib/pkp/js/sizer.js" ></script>

	<!-- Add stylesheets for the font sizer -->
	<link rel="alternate stylesheet" title="Pequeña" href="../../../../../styles/fontSmall.css" type="text/css" />
	<link rel="stylesheet" title="Mediana" href="../../../../../styles/fontMedium.css" type="text/css" />
	<link rel="alternate stylesheet" title="Grande" href="../../../../../styles/fontLarge.css" type="text/css" />
</head>
<frameset cols="*,180" style="border: 0;">
			
		
		<frame src="../../viewArticle/440213.html" frameborder="0"/>
	<frame src="../../viewRST/440213.html" noresize="noresize" frameborder="0" scrolling="auto" />
<noframes>
<body>
	<table width="100%">
		<tr>
			<td align="center">
				Esta página usa marcos. <a href="../../viewArticle/440213.html">Haga click aquí</a> para ir a la versión sin marcos.
			</td>
		</tr>
	</table>
</body>
</noframes>
</frameset>
</html>